<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../src/css/style.css">
  <title>ROT13 Cipher</title>
</head>
<body>
  <div class="background"></div>
  <a href="/index.html" class="back" aria-label="Back to Homepage">
    <i class="fas fa-arrow-left"></i>
  </a>
  <main>
    <h1>ROT13</h1>
    <div class="container dflex">
      <div class="card size-xl">
        <div class="input-group marbot">
          <label for="input_text">Input Text : </label>
          <input type="text" id="input_text">
        </div>
        
        <button id="encryption" name="rot13" class="button">Encryption</button>
        <button id="decryption" name="rot13" class="button">Decryption</button>

        <div class="input-group result">
          <label for="input_text">Result : </label>
          <input type="text" id="input_text" value="test" disabled>
        </div>
      </div>
    </div>
  </main>
</body>
</html>